<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:s="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security 
						http://www.springframework.org/schema/security/spring-security.xsd">
						
	<!--  security 적용 제외 요청 패턴 -->

	<s:http pattern="/**/*.js" security="none" />
	<s:http pattern="/**/*.css" security="none" />
	<s:http pattern="/images/*" security="none" />
	<s:http auto-config="true" use-expressions="true">
		<s:intercept-url pattern="/admin/**" access="hasRole('ROLE_A')"/>
		<s:intercept-url pattern="/login" access="isAnonymous()"/>
		<s:intercept-url pattern="/join" access="isAnonymous()"/>
		<s:intercept-url pattern="/**" access="permitAll"/> 
		<s:form-login
			username-parameter="mid"	
			password-parameter="mpw"
			login-processing-url="/j_spring_security_check"
			login-page="/login"
			authentication-failure-handler-ref="userLoginFailHandler"
			authentication-success-handler-ref="userLoginSuccessHandler"/>
		<s:logout
			logout-url="/j_spring_security_logout"
			logout-success-url="/index.jsp"	
			delete-cookies="JSESSIONID"
			invalidate-session="true"/>
		<s:access-denied-handler error-page="/login/accessDenied"/>
		<s:csrf disabled="true"/>
	</s:http>
	

	<!--  db로 접속할 수 있도록 -->
	<s:authentication-manager>
		<s:authentication-provider user-service-ref="memberSecurityServiceImpl">
			<s:password-encoder ref="bcryptPasswordEncoder" />	
		</s:authentication-provider>	
	</s:authentication-manager>

	<!--  security 적용 service -->	
	<bean id="memberSecurityServiceImpl" class="com.jns.member.security.service.MemberSecurityServiceImpl">
	</bean>
	
	<!-- 로그인 실패시 핸들러 클래스 -->
	<bean id="userLoginFailHandler" class="com.jns.member.security.handler.UserLoginFailHandler">
	</bean>
	
	<!--  로그인 성공시 핸들러 클래스 -->
	<bean id="userLoginSuccessHandler" class="com.jns.member.security.handler.UserLoginSuccessHandler"></bean>

	<!-- password 암호화 -->	
	<bean id="bcryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
	
	<!-- security 더블 슬래시 허용 확인중 -->	
<!-- 	<bean id="allowUrlEncodedSlashHttpFirewall" class="org.springframework.security.web.firewall.DefaultHttpFirewall">
		<property name="allowUrlEncodedSlash" value="true"/>
	</bean>
	<s:http-firewall ref="allowUrlEncodedSlashHttpFirewall"/>
 -->	
</beans>