<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
	<typeAliases>
		<typeAlias type="com.jns.member.vo.MemberVO" alias="mvo"/>
		<typeAlias type="com.jns.recipe.vo.RecipeVO" alias="rvo"/>
		<typeAlias type="com.jns.recipeboard.vo.RecipeBoardVO" alias="rbvo"/>
		<typeAlias type="com.jns.chefboard.vo.ChefBoardVO" alias="cbvo"/>
		<typeAlias type="com.jns.reply.vo.ReplyVO" alias="reply"/>
	</typeAliases>
</configuration>